/* NetBeans does not support css variables :(

   lightgreen1: #f9faee; // RGB: 249 250 238
   lightgreen2: #f4f6e9; // RGB: 244 246 233 // háttér négyzetrács kitöltőszíne
   gridgreen: #b0b2a7 // RGB: 176 178 167
   midgreen1: #dee4b9; // RGB: 222 228 185
   midgreen2: #c6ce92; // RGB: 198 206 146
   midgreen3: #919b55; // RGB: 145 155 85
   darkgreen1: #808571; // RGB: 128	133	113 // pl. gombok szövege
   darkgreen2: #555c23; // RGB: 85 92 35 // pl. cím 
   gray1: #d9d8bf // RGB: 217 216 191 // Keretek alsó és jobboldala
*/

@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

a:link {
  color: #919b55;
}

a:visited {
  color: #919b55;
}

input{
  outline: none;
  box-shadow: none;
}

input::placeholder {
  color: #b6be92;
}
.ui-inputfield.ui-state-focus{
  outline: none;
  box-shadow: none;
}

.ui-state-hover{
  box-shadow: none;
}

.ui-state-focus{
  box-shadow: none;
}

.ui-inputfield{
  box-shadow: none;
}

textarea{
  outline: none;
}

#drawmoderadio label {
  margin-right: 155px;
}

.turnsec{
  float:right;    
  font-family: 'Itim', cursive;
  font-size: 20px;	
  font-weight: bold;
  color: red;
  line-height: 1.2;
}

.logintext {
  font-family: 'Itim', cursive;  
  font-size: 20px;	
  font-weight: normal;
  color: #555C23;
  line-height: 1.6;
}

.logintextsmall {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: normal;
  color: #808571;
  line-height: 2.1;
}

.logintextsmall2 {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: normal;
  color: #808571;
  line-height: 2.2;
}

.text {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: normal;
  color: #555C23;
  line-height: 1.7;
}

.textsmall {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: normal;
  color: #555C23;
  line-height: 1;
}

.inputname {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: normal;
  color: #555C23;
  line-height: 1;
  /*background-color: #f8fceb;*/
  padding: 2px;
  padding-bottom: 1px;
  background: transparent;
  border-width: 0 0 2px;
  border-color: #808571;
}

.inputtextmedium {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  color: #555C23;
  line-height: 1;
  background: transparent;
  border-width: 0 0 2px;
  border-color: #808571;
  padding: 3px;
}

.inputtextmediumuc {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  color: #555C23;
  line-height: 1;
  background: transparent;
  border-width: 0 0 2px;
  border-color: #808571;
  padding: 3px;
  text-transform: uppercase;
}

.inputtextsmall {
  font-family: 'Itim', cursive;
  font-size: 12px;	
  color: #555C23;
  line-height: 1;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #707561;
  border-right-color: #707561;
  padding: 3px;
}

.inputtextsmalluc {
  font-family: 'Itim', cursive;
  font-size: 12px;	
  color: #555C23;
  line-height: 1;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #707561;
  border-right-color: #707561;
  padding: 3px;
  margin-left: 0px; 
  margin-right: 0px;
  text-transform: uppercase;
}

.wrongvalueinput{
  border-left-color: #f2928f;
  border-top-color: #f2928f;
  border-bottom-color: #f56964;
  border-right-color: #f56964;
}

.inputtextareasmall {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  color: #555C23;
  line-height: 1.2;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #707561;
  border-right-color: #707561;
  padding: 3px;
  overflow-y:scroll;
  resize: none;
}

.inputtextplay {
  font-family: 'Itim', cursive;
  font-size: 17px;	
  color: #808571;
  line-height: 1.2;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: rgba(182,181,170,0.5); 
  border-top-color: rgba(182,181,170,0.5); 
  border-bottom-color: rgba(176,178,167,0.5);
  border-right-color: rgba(176,178,167,0.5);
  padding: 3px;
  padding-top: 11px;
  overflow: hidden;
  resize: none;
  text-align: center;
}

.inputtextcheckword {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  color: #555C23;
  line-height: 1.0;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: rgba(182,181,170,0.5); 
  border-top-color: rgba(182,181,170,0.5); 
  border-bottom-color: rgba(176,178,167,0.5);
  border-right-color: rgba(176,178,167,0.5);
  padding: 1px;
  padding-left: 3px;
  overflow: hidden;
  resize: none;
  text-align: left;
  text-transform: uppercase;
}

.selectedlettertext {
  font-family: 'Itim', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #808571;
  line-height: 1;
  text-align: center;
}

.playersarea {
  font-family: 'Itim', cursive;
  font-size: 17px;	
  color: #808571;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: rgba(182,181,170,0.5); 
  border-top-color: rgba(182,181,170,0.5); 
  border-bottom-color: rgba(146,148,137,0.7);
  border-right-color: rgba(146,148,137,0.7);
  overflow: hidden;
  resize: none;
  text-align: center; 
}

.playersareafading {
  background: #808571 linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(244,246,233,0.9) 20%, rgba(244,246,233,0.9) 80%, rgba(0,0,0,0.2) 100%);  
  
  /*background-color: #f4f6e9 linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(244,246,233,0.9) 100%);*/
  z-index: 999999;
    /*linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(244,246,233,0.9) 100%);*/  
  border: 3px solid red;
  overflow: hidden;
  resize: none;
  text-align: center; 
}

.aboutarea {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  color: #808571;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: rgba(182,181,170,0.5); 
  border-top-color: rgba(182,181,170,0.5); 
  border-bottom-color: rgba(146,148,137,0.7);
  border-right-color: rgba(146,148,137,0.7);
  overflow: hidden;
  resize: none;
  text-align: center;
}

/*   midgreen1: #dee4b9; // RGB: 222 228 185
   midgreen2: #c6ce92; // RGB: 198 206 146
   midgreen3: #919b55; // RGB: 145 155 85
   lightgreen1: #f9faee; // RGB: 249 250 238
   lightgreen2: #f4f6e9; // RGB: 244 246 233 // háttér négyzetrács kitöltőszíne */

.aboutareaheader {
  font-family: 'Itim', cursive;
  overflow: hidden;
  resize: none;
  /*font-size: 17px;	
  color: #555C23;
  background-color: #e7eccc;
  border-width: 2px;
  border-style: solid;
  border-left-color: rgba(182,181,170,0.5); 
  border-top-color: rgba(182,181,170,0.5); 
  border-bottom-color: rgba(176,178,167,0.5);
  border-right-color: rgba(176,178,167,0.5);
  text-align: center;*/
  border: 0;
  background: transparent;
  text-align: left;  
  font-size: 18px;	
  font-weight: bold;
  /*line-height: 1.7;*/
  color: #808571;
}

.rulestext {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  /*color: #555C23;*/
  color: #808571;
  line-height: 1.93;
  background: transparent;
  text-align: left;
  padding: 23px;
  padding-top: 25px;
  resize: none;
}

.rulestitletext {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  /*color: #555C23;*/
  color: #808571;
  line-height: 1.1;
  background: transparent;
  text-align: left;
  padding: 0;
  resize: none;
}

.rulesline{
  width: 100%; 
  margin:0 auto;
  /*padding-bottom: 7px;*/
  margin-top: 10px;
  margin-bottom: 19px;
  line-height:2px;
}

.inputtextchatsmall {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  transform:scale(0.9,1.0);
  transform-origin: left center;
  color: #555C23;
  line-height: 1.2;
  background-color: #f4f6e9;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #707561;
  border-right-color: #707561;
  padding: 3px;
  overflow-y:scroll;
  resize: none;
  box-shadow: none;
}

.idtext {
  font-family: 'Itim', cursive;
  font-size: 13px;	
  transform:scale(0.8,1.0);
  transform-origin: right center;
  color: #555C23;
  line-height: 1;
  padding: 3px;
  resize: none;
}

.errortext {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: normal;
  color: red;
  line-height: 1;
}

.tooltiptext { 
  background: #F9FAEE;
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
}

.tooltiptext2 { 
  background: #F9FAEE;
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
  border: 1px solid #ccc;
  padding: 3px;
  position:absolute; 
  top:-1px; 
  left:-165px; 
  display: inline-block;
  white-space: nowrap;
  /*width: 700px;*/
  box-shadow: 0 0 2px 0 #ddd;
  -moz-box-shadow: 0 0 10px 0 #ddd;
  -webkit-box-shadow: 0 0 10px 0 #ddd;
}  

.hitdataarea{
  background: transparent;
  display: inline-block;
  border: 1px solid transparent;
  padding-bottom: 2px;
}

.hitsnametext {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: bold;
  color: #808571;
}

.hitpostext {
  font-family: 'Itim', cursive;
  font-size: 12px;	
  font-weight: normal;
  color: #808571;
  line-height: 1;
  vertical-align: middle;
}

.hitwordtext {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: bold;
  color: #808571;
  line-height: 1;
  margin-left: 4px;
  margin-right: 3px;
  vertical-align: middle;
}

.gridheader {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  color: #808571;
  background-color: #f7fbea;
}

.gameareatitle {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  color: #808571;
  line-height: 1.7;
  overflow: hidden;
}

.gamearea { 
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  float:left;    
}

.gamesetuparea { 
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  float:left;   
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
}

.gameplayers { 
  background: transparent;
  float:left;   
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
}

.gamesetupplayer{
  display: inline-block;
  padding-top: 2px;
  padding-left:5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  width: 228px;
  font-weight: bold;
  color: #656E28;
  margin-left: 3px;
  margin-top: 2px;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid #cad1a5;
  background-color: rgba(198,206,146,0.4);
  display:inline-block; 
  opacity: 0.8;
}

.gamesetupnamearea{
  margin-right: 12px; 
  overflow: hidden;
  width: 202px;
  height: 24px;
  line-height: 24px;
}

.gamesetupnametext{
}

.gamebg { 
  background: #F9FAEE;
  border-width: 0px;
  opacity: 0.8;
}

.gamesetupframe { 
  /*background: transparent;*/
  background: rgba(182,201,170,0.06);
  border-width: 2px;
  border-style: dotted;
  border-left-color: #d9d8bf; 
  border-top-color: #d9d8bf; 
  border-bottom-color: #b0b5a1;
  border-right-color: #b0b5a1;
  /*opacity: 0.8;*/
}

.gameidarea { 
  background: transparent;
  border-width: 0px;
  float:left;   
  line-height: 1;
  text-align: right;
}

.gameboard { 
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #b0b2a7;
}

.gameplayarea { 
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  float:left;    
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
}

.invisible {
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 0px;
  height: 0px;
}

.threecellbutton{
  width: 85px;
}

.fourcellbutton{
  width: 116px;
}

.fivecellbutton{
  width: 147px;
}

.sixcellbutton{
  width: 179px;
}

.sevencellbutton{
  width: 211px;
}

.eightcellbutton{
  width: 242px;
}

.ninecellbutton{
  width: 273px;
}

.tencellbutton{
  width: 305px;
}

.loginbutton {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 8px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.loginbutton:hover {
  background-color: #c6ce92;
}

.menutext {
  font-family: 'Itim', cursive;
  font-size: 19px;	
  font-weight: bold;
  color: #808571;
  padding: 0px;
  margin: 3px;
  vertical-align: top;
  box-shadow: none;
  opacity: 0.8;
  text-align: center;
}

.menutext:hover {
  color: #808571;
}

.menubutton {
  font-family: 'Itim', cursive;
  font-size: 20px;	
  font-weight: bold;
  border: none;
  border-bottom:2px;
  border-top:2px;
  border-color: transparent;
  color: #808571;
  /*background: transparent;*/  
  background: #808571 linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(244,246,233,0.9) 20%, rgba(244,246,233,0.9) 80%, rgba(0,0,0,0.2) 100%);  
  outline: 0;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  height: 61px;
  vertical-align: top;
  box-shadow: none;
  text-shadow: 0px 1px 0px white;
  opacity: 0.15;
  width: 314px;
}

.menubutton:hover {
  border-bottom:2px solid #808571;
  border-top:2px solid #808571;
  background: #808571 linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(244,246,233,0.9) 20%, rgba(244,246,233,0.9) 80%, rgba(0,0,0,0.2) 100%);  
  /*background: #808571 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%, rgba(255,255,255,0.8) 0%);*/  
  opacity: 0.38;
} 

.menubutton:disabled {
  border-color: transparent;
  opacity: 1.0;
}

.visiblemenubutton1{
  opacity: 0.2;
  background: #808571 linear-gradient(to bottom, rgba(255,0,0,0.2) 0%, rgba(244,246,233,0.9) 20%, rgba(244,246,233,0.9) 80%, rgba(255,0,0,0.2) 100%);  
}

.visiblemenubutton2{
  opacity: 0.2;
  background: #808571 linear-gradient(to bottom, rgba(0,200,0,0.2) 0%, rgba(244,246,233,0.9) 20%, rgba(244,246,233,0.9) 80%, rgba(0,200,0,0.2) 100%);  
}

.gamebutton {
  display: inline-block;
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  text-shadow: 0px 1px 0px white;
  box-shadow: 0 0 0 0;
  margin-right: 8px;
  height: 24px;
/*  transform:scale(0.95,1.0);
  transform-origin: left center;*/
}

.gamebutton:hover {
  background-color: #c6ce92;
}

.gamebutton:disabled {
  color: #A0A591;
  border-color: #A0A591;
  background-color: #f9faee;
}

.rightbutton{
  margin-right: 0px;
  margin-left: 8px;
}

.boardbuttonarea{
  border: 2px solid; 
  border-color: transparent;
  padding: 0px;  
}

.boardbutton {
  font-family: 'Itim', cursive;
  font-size: 19px;	
  font-weight: bold;
  border: 1px solid;
  border-color: transparent;
  color: #707561;
  background: transparent;  
  outline: 0;
  padding: 0px;
  margin: 3px;
  width: 28px;
  height: 25px;
  vertical-align: top;
  margin-right: 2px;
  margin-left: 1px;
  box-shadow: none;
}

.boardbutton:hover {
  border-color: #dee4b9;
  background-color: #c6ce92;
}

.boardbutton:disabled {
  color: #707561;
  border-color: transparent;
  background: transparent;
}

.unplacedletterbutton {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  border: 1px solid;
  border-color: transparent;
  color: rgba(128,133,113,0.25);
  background: transparent;
  outline: 0;
  padding: 0px;
  margin: 3px;
  width: 28px;
  height: 25px;
  vertical-align: top;
  margin-right: 2px;
  margin-left: 1px;
  box-shadow: none;
}

.boardbutton_noptr {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  border: 1px solid;
  border-color: transparent;
  color: #747965;
  background: transparent;  
  outline: 0;
  padding: 0px;
  margin: 3px;
  width: 28px;
  height: 25px;
  vertical-align: top;
  margin-right: 2px;
  margin-left: 1px;
  box-shadow: none;
}

.boardbutton_noptr:hover {
  border-color: #dee4b9;
  background-color: #c6ce92;
}

.boardbutton_noptr:disabled {
  color: #747965;
  border-color: transparent;
  background: transparent;
}

.markedletterbutton {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bolder;
  border: 1px solid;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #707561;
  background: transparent;  
  outline: 0;
  padding: 0px;
  margin: 3px;
  width: 28px;
  height: 25px;
  vertical-align: top;
  margin-right: 2px;
  margin-left: 1px;
  box-shadow: none;
}

.markedletterbutton:hover {
  background-color: #c6ce92;
}

.letterbutton {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: bold;
  width: 24px;
  height: 24px;
  border: 2px solid;
  border-radius: 2px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding: 0px;
  margin: 2px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.letterbutton:hover {
  background-color: #c6ce92;
}

.gameplayerbutton {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  border: none;
  border-bottom:1px;
  border-top:1px;
  border-color: transparent;
  color: #808571;
  background: transparent;  
  outline: 0;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  height: 19px;
  vertical-align: top;
  margin-right: 0px;
  margin-left: 0px;
  background: transparent;
  box-shadow: none;
  text-shadow: 0px 1px 0px white;
}

.gameplayerbutton:hover {
  border-bottom:1px solid #808571;
  border-top:1px solid #808571;
} 

.gameplayerbutton:disabled {
  border-color: transparent;
  opacity: 1.0;
}

.button2 {
  height: 30px;
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 4px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  box-shadow: 0 0 0 0;
  text-shadow: 0px 1px 0px white;
  min-width: 100px;
}

.button2:hover {
  background-color: #c6ce92;
}

/* OK gomb */
.buttonsmall {
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 3px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding: 2px;
  height: 24px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
  box-shadow: 0 0 0 0;
}

.buttonsmall:hover {
  background-color: #c6ce92;
}

/* Csatlakozás gomb */
.buttonsmall2 {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 3px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  transform:scale(0.94,1.0);
  transform-origin: right center;
  text-shadow: 0px 1px 0px white;
}

.buttonsmall2:hover {
  background-color: #c6ce92;
}

.buttonsmall2:disabled {
  color: #A0A591;
  border-color: #A0A591;
  background-color: #f9faee;
}

/* Szótesztelés gombjai */
.buttonsmall3 {
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: bold;
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-radius: 3px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 90%);  
  background-image: url("/resources/images/search.png");  
  outline: 0;
  padding: 0px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.buttonsmall3:hover {
  background-color: #c6ce92;
}

/* +/- gombok */
.buttonsmall4 {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: bold;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  outline: 0;
  padding: 0px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.buttonsmall4:hover {
  background-color: #c6ce92;
}

/* Le gomb */
.buttonsmall5 {
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: bold;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  background-position-x: -145px;
  background-position-y: -80px;
  background-image: url("/resources/images/bp-icons.png");  
  outline: 0;
  padding: 0px;
  margin-right: 13px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.buttonsmall5:hover {
  background-color: #c6ce92;
}

/* Fel gomb */
.buttonsmall6 {
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: bold;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  background-position-x: -130px;
  background-position-y: -80px;
  background-image: url("/resources/images/bp-icons.png");  
  outline: 0;
  padding: 0px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
}

.buttonsmall6:hover {
  background-color: #c6ce92;
}

.table1header{
  border: 1px solid;
  border-color: #808571;
  background-color: #C6CE92;
  font-family: 'Itim', cursive;
  font-size: 14px;	
  font-weight: bold;
  text-align: left;
  color: #555C23;
  line-height: 1.4;
  padding: 1px;
  padding-left: 10px;
}

.playerstable{
  /*border-collapse: collapse;*/
  border: 0px solid;
  border-color: #808571;
  border-bottom-color: #d9d8bf;
  border-right-color: #d9d8bf;
  /*background-color: #a8aceb;*/
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.0;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.lobbytable{
  /*border-collapse: collapse;*/
  border: 0px solid;
  border-color: #808571;
  border-bottom-color: #d9d8bf;
  border-right-color: #d9d8bf;
  /*background-color: #a8aceb;*/
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.2;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*.table1 tr:nth-child(even){
    background-color: #eaecdc;
}*/

.lobbyrowborder {
  border: 2px solid; 
  border-color: #808571;
  border-bottom-color: #b9b89f;
  border-right-color: #b9b89f;
  border-top-color: #d9d8bf;
  border-left-color: #d9d8bf;
  margin: 3px; 
  margin-top: 7px;
  margin-bottom: 0px;
  padding: 1px;
  background: transparent;
} 

.lobbytablerow{
  border-collapse: collapse;
  border-width: 0px;
  font-family: 'Itim', cursive;
  font-weight: normal;
  background: rgba(188,196,166,0.2);
  color: #808571;
  line-height: 1.2;
  margin: 0px;
}

.lobbyrowheader{
  table-layout: fixed ;
  width: 100% ;  
  border-collapse: collapse;
  vertical-align: middle;
  border-bottom: 1px dashed #b9b89f;
  background-color: rgba(249,250,238,0.5);
  line-height: 1.0;
}

.lobbyrowheadercol1{
  height: 25px;
  max-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
  position: absolute;
  left:10px;
  display: inline-block;
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  /*color: #555C23;*/
  color: #808571;
  border: none;
  padding: 2px;
}

.lobbyrowgamename{
  font-size: 14px;
  font-weight: bolder;
  text-overflow: ellipsis;
}

.lobbyrowdateinfo{
  font-size: 12px;
  font-weight: normal;
}

.lobbyrowheadercol2{
  width: 40%;
  text-align: right;
  border: none;
  background-color: rgba(249,250,238,0.5);
}

.lobbyrowplayers{
  table-layout: fixed ;
  width: 100% ;  
  border-collapse: collapse;
  border: none;
  background: transparent;
}

.lobbyrowplayers td{
  width: 25%;  
  text-align: left;
}

.lobbyrowplayer{
  display: inline-block;
  padding: 2px;
  padding-left:5px;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  width: 87%;
  font-weight: bold;
  color: #656E28;
  text-overflow: ellipsis;
  margin-left: 3px;
  margin-top: 2px;
  vertical-align: middle;
  border-radius: 2px;
  border: 2px solid #cad1a5;
  background-color: rgba(198,206,146,0.4);
  opacity: 0.95;
}

.lobbyplayernametext{
  /*margin-left: 2px;*/ 
  text-overflow: ellipsis;
  position: relative;
  margin-left: 3px;
  font-size: 15px;
  top: 2px;
}

.lobbyrowrules{
  table-layout: fixed ;
  width: 100% ;  
  border-collapse: collapse;
  vertical-align: middle;
  margin-left: 4px;
}

.lobbyrowrulescol1{
  width: 100%;
  height: 25px;
  max-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
}

.lobbyrowrulescol2{
  width: 22%;
  text-align: right;
  border: none;
}

.lobbyrowrule{
  display: inline-block;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  height: 20px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ced4a9;
  background-color: rgba(249,250,238,0.5);
  vertical-align: middle;
}

.lobbyrowrule2{
  /*font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, serif;*/
  font-family: 'Itim', cursive;
  font-size: 12px;
}

.lobbyrowimage{
  max-width:20px;
  max-height:20px;
  width: auto;
  height: auto;  
  vertical-align: middle;
}

.adminplimage{
  max-width:15px;
  max-height:15px;
  width: auto;
  height: auto;  
  position: relative;
  top: 3px;
}

.curplayerimage{
  max-width:18px;
  max-height:18px;
  width: auto;
  height: auto;  
  vertical-align: text-bottom;
  padding: 0px;
}

.wordtestimage{
  max-width:20px;
  max-height:20px;
  width: auto;
  height: auto;  
  vertical-align: text-bottom;
  padding: 0px;
}

.gameplayerstable{
  border: none;
  border-spacing: 2px;
  background: transparent;
}

.gameplayerstable tr{
  border: 1px dashed purple;
  vertical-align: middle;
  line-height: 1;
}

.gameplayerstable td{
  border: 1px dashed rgba(188,196,166,0.2);
}

.gameplayerstablecol{
  border: none;
  background: rgba(188,196,166,0.2);
}

.gameplayersrow{
  width: 100%;
  border-collapse: collapse;
  border: transparent;
  padding: 0px;
  margin: 0px;
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: bold;
  color: #808571;
  line-height: 1;
  border-spacing: 0px;
}

.gameplayersrow2{
  width: 100%;
  border-collapse: collapse;
  border: transparent;
  padding: 0px;
  margin: 0px;
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: bold;
  color: #808571;
  line-height: 1;
  border-spacing: 0px;
  background: rgba(158,166,136,0.2);
}

.gameplayersrow td{
  border: 1px solid rgba(188,196,166,0.0);
  /*border: none;*/
}

.gameplayersrow2 td{
  border: 1px solid rgba(188,196,166,0.0);
  /*border: none;*/
}

.gameplayersrowcol1{
  width: 10%;
  height: 21px;
  max-height: 21px;
  vertical-align: middle;
  text-align: center;
}

.gameplayersrowcol2{
  width: 64%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding-top: 3px;
}

.gameplayersrowcol3{
  width: 26%;
  text-align: right;
  vertical-align: middle;
  padding-top: 3px;
}

.dialogtable{
  border: 2px solid;
  border-color: #808571;
  background-color: #f8fceb;
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #808571;
  line-height: 1.5;
  padding: 3px;
}

.gameoptionspg {

}

.gamemainpg {

}

.mainpg {

}

.turntimepg {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #808571;
}

.glossarypg {
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: normal;
  color: #808571;
}

.ui-tooltip {
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 0 #ddd;
  -moz-box-shadow: 0 0 10px 0 #ddd;
  -webkit-box-shadow: 0 0 10px 0 #ddd;
}

.ui-state-disabled{
  opacity: 0.7;
}

/**********************************/
/* p:selectOneRadio elemei        */
/**********************************/
.select2 {
  background: transparent;
  font-family: 'Itim', cursive;
  font-size: 13px;	
  font-weight: normal;
}

.select2 label {
  margin-left: 8px;
  margin-right: 5px;
}

.select2 label.ui-state-disabled{
  opacity: 1.0;
}

.select2 .ui-radiobutton.ui-widget{
}

.select2 .ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active{
  width: 15px;
  height: 15px;
  border-width: 2px;
  border-color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
}

.select2 .ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default{
  width: 15px;
  height: 15px;
  border-width: 2px;
  border-color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  box-shadow: none;
}

.select2 .ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-hover{
  background: #c6ce92 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  box-shadow: none;
}

.select2 .ui-radiobutton-icon.ui-icon.ui-icon-bullet{
  background-position-x: -81px;
  background-position-y: -144px;
  background-image: url("/resources/images/bp-icons.png");
}

/**********************************/
/* p:selectOneMenu elemei         */
/**********************************/
.select3 {
  background: transparent;
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: normal;
  height: 20px;
  border-width: 2px;
  border-color: #808571;
  box-shadow: none;
}

.select3 label {
  background: transparent;
  font-family: 'Itim', cursive;
  box-shadow: none;
  padding: 3px;
  font-size: 15px;	
  color: #808571;
}

.select3 .ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
  box-shadow: none;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  width: 11px;
}

.select3 .ui-selectonemenu-trigger.ui-state-default.ui-corner-right.ui-state-hover{
  box-shadow: none;
  background: #c6ce92 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
}

.select3 .ui-icon.ui-icon-triangle-1-s.ui-c{
  background-position-x: -67px;
  background-position-y: -16px;
  background-image: url("/resources/images/bp-icons.png");
}

.select3 .ui-widget-content{
  background: transparent;
}

.select3 .ui-selectonemenu-panel .ui-selectonemenu-list{
  background: transparent;
}

.select3 .ui-selectonemenu-label{
  font-family: 'Itim', cursive;
  box-shadow: none;
  font-size: 15px;	
}

.ui-selectonemenu-panel{
  background: #f9faee;
}

.ui-selectonemenu-items-wrapper{
  background: #f9faee;
}

.ui-selectonemenu-panel .ui-selectonemenu-list{
  background: #f9faee;
}

.ui-selectonemenu-panel .ui-selectonemenu-item{
  font-family: 'Itim', cursive;
  color: #808571;
  font-size: 15px;	
  background: #f9faee;
}

.ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-hover{
  box-shadow: 1px 1px 1px 1px #808571;
  text-shadow: 0px 1px 0px white;
  background: #f9faee;
}

.ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-highlight{
  box-shadow: 1px 1px 1px 1px #808571;
  text-shadow: 0px 1px 0px white;
  font-weight: bold;
  background: #f4f6e9;
}

/**********************************/
/* p:selectBooleanCheckbox elemei */
/**********************************/

.select1.ui-chkbox.ui-widget{
  width: 16px;
  height: 16px;
  border: none;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
}

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default{
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-hover{
  background: #c6ce92 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  box-shadow: none;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-disabled{
  background-color: #f9faee;
  text-shadow: none;
  opacity: 0.7;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active{
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active.ui-state-hover{
  background: #c6ce92 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
  box-shadow: none;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}  

.select1 .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active.ui-state-disabled{
  background-color: #f9faee;
  text-shadow: none;
  opacity: 0.7;
  border: 2px solid;
  border-radius: 2px;
  border-color: #808571;
}

.select1 .ui-chkbox-icon.ui-icon-check {
  width: 15px;
  height: 15px;
  background-position-x: -97px;
  background-position-y: -128px;
  background-image: url("/resources/images/bp-icons.png");
}

.select1 .ui-icon-box {
  width: 15px;
  height: 15px;
  color: red;
}

/************************/
/* ConfirmDialog elemei */
/************************/

.confirmdialog{
  position: absolute;
  left: 38% !important;
  top: 250px !important;
  background-color: #f8fceb;
  font-family: 'Itim', cursive;
  border: 2px solid;
  border-color: #808571;
  padding: 2px;
}

/* Fejléc */
div.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
  background-color: #dee4b9;
}

/* "Megerősítés" szöveg */
span.ui-dialog-title{
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  color: #808571;
}

/* x a sarokban */
.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all{
  background-color: #dee4b9;
}

/* Ikon eltüntetése a kérdés mellől */
.ui-dialog-content > .ui-icon {
  display: none;
}

/* kérdés szövege */
span.ui-confirm-dialog-message {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: normal;
  color: #808571;
}

/* gombok befoglalója */
.ui-dialog-buttonpane.ui-dialog-footer.ui-widget-content.ui-helper-clearfix{
  background-color: #f9faee;
  color: #808571;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}

/* "Igen" gomb */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-yes{
  color:#808571;
  width: 80px;
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 4px;
  border-color: #808571;
  background-color: #dee4b9;
  outline: 0;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  box-shadow: 0 0 0 0;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-yes:hover {
  background-color: #c6ce92;
  box-shadow: 0 0 0 0;
}

/* "Nem" gomb */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-no{
  color:#808571;
  width: 80px;
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  border: 2px solid;
  border-radius: 4px;
  border-color: #808571;
  background-color: #dee4b9;
  outline: 0;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  box-shadow: 0 0 0 0;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-no:hover {
  background-color: #c6ce92;
  box-shadow: 0 0 0 0;
}

/* gombok szövege */
.ui-button-text.ui-c{
  padding: 0px 0px 0px 0px;
  line-height: 1.0;
}

.ui-button.ui-button-text{
  line-height: 1.0;
}

.ui-button-text-only.ui-button-text{
  line-height: 1.0;
  padding: 1px 1px 1px 1px;
}

/*FB és Github gombok*/

.pluginCountButton {
    color: red;
    font-size: 26px;
}

.fb-xfbml-parse-ignore {
    color: red;
    font-size: 26px;
}

.facebook-share {
  display: inline-block;  
  background-color: #f5f5f5;
  border-radius: 3px;
  border:1px solid #d5d5d5;
  cursor:pointer;
  height: 16px;
  width: auto;
  border-left-color: #b9b89f; 
  border-top-color: #b9b89f; 
  border-bottom-color: #808571;
  border-right-color: #808571;
  color: #808571;
  background: #dee4b9 linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);  
    
  padding:2px 4px 2px 3px;
  font-family: 'Itim', cursive;
  font-weight: 500;
  font-size: 8px;
  text-shadow:0 1px 0 #fff;
  vertical-align: middle;
}

.facebook-share span {
  position: relative;
  top: 2px;
  margin-left: 2px;
  font-size: 11px;
}

.facebook-share:hover {
  background-color: #c6ce92;
}

.share-icon{
  width: auto;
  height: auto;  
  margin-left: 2px;
  padding-right: 1px;
  vertical-align: top;
}

@media (pointer: none) {
  .pointer-fine {
    display: none;
  }
}

@media (pointer: coarse) {
  .pointer-fine {
    display: none;
  }
}

@media (pointer: fine) {
  .pointer-none {
  /*.pointer-fine {*/
    display: none;
  }
}
